
.home .widok
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
}

.home img.lupa
{
    margin: auto;
    height: 23px;
    cursor: pointer;
}

.home img.lupa1
{
    margin-top: 3px;
	padding-left: 22px;
	padding-top: 9px;
    height: 23px;
    cursor: pointer;
}

.przyciski
{
    height: 70px;
}

.buttons
{
    display: block;
    text-align: center;
    padding-top: 20px;
}

.przycisk1 
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}


.przycisk2
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}


