.Ne6nSd {
display: flex;
align-items: center;
padding: 6px;
padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.n1xJcf {
height: 60px;
}
.o3j99 {
flex-shrink: 0;
box-sizing: border-box;
}
body, input, button {
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}





